@model IEnumerable<WebApplication1.ViewModel.ContactModel>

@{
    ViewBag.Title = "Live Search";
    var grid = new WebGrid(source: Model, canPage: true, canSort: true, rowsPerPage: 10);
}


<h2>Live Search</h2>

@using (Html.BeginForm())
{
    @Html.TextBox("searching")
    @Html.TextBox("sln")
    @Html.TextBox("se")
    @Html.TextBox("sp")
    @Html.TextBox("sa")
    <input type="submit" value="Export" formmethod="post" formaction="ExportS" class="btn btn-primary" />
    <input type="submit" value="Search" formmethod="get" formaction="Search" class="btn btn-primary" />
}


<div style="overflow:auto">
    @grid.GetHtml(
        tableStyle: "table table-responsive",
        columns: grid.Columns(
                    grid.Column("FirstName", "First Name"),
                    grid.Column("LastName", "Last Name"),
                    grid.Column("Email", "Email"),
                    grid.Column("Phone", "Phone"),
                    grid.Column("Address", "Address")
                )
            )
</div>

@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>
        $(document).ready(function(){
            function Contains(text_one, text_two) {
                if (text_one.indexOf(text_two) != -1)
                return true;
            }
            $("#Search").keyup(function () {
                var searchText = $("#Search").val().toLowerCase();
                $(".Search").each(function(){
                if (!Contains($(this).text().toLowerCase(),searchText))
                {
                    $(this).hide();
                }
                else
                {
                $(this).show();
                }
            });
        });
        });
    </script>*@